#!/usr/bin/env bash

{{ if eq .chezmoi.os "linux" -}}

echo "Creating XDG directories"

# Set XDG because it probably isn't on first run
XDG_CONFIG_HOME="$HOME/.config"
XDG_DATA_HOME="$HOME/.local/share"

# Make host specific directories
mkdir -p "${XDG_CONFIG_HOME}/bash/local"
mkdir -p "${XDG_CONFIG_HOME}/tmux/local"
mkdir -p "${XDG_CONFIG_HOME}/git/local"
mkdir -p "${HOME}/.ssh/local"

# Bash history location
mkdir -p "${XDG_DATA_HOME}/bash"

# Vim temp and history files
mkdir -p "${XDG_DATA_HOME}/vim/undo"
mkdir -p "${XDG_DATA_HOME}/vim/swap"
mkdir -p "${XDG_DATA_HOME}/vim/backup"

{{ if .needs_terminal }}

echo "Creating terminal directories"

# Make host specific directories
mkdir -p "${XDG_CONFIG_HOME}/kitty/local"

# Create fonts folder if needed
mkdir -p "${XDG_DATA_HOME}/fonts"

{{ end }}

{{ end -}}
