[user]
  name = "Bede Carroll"
  email = {{ .github_email | quote }}
[core]
  editor = nvim
{{- if lookPath "delta" }}
  pager = delta
{{- else if lookPath "bat" }}
  pager = bat
{{ end }}
{{- if lookPath "mergiraf" }}
  attributesfile = "~/.config/git/gitattributes"
{{ end }}
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[init]
  defaultBranch = master
[diff]
  tool = nvimdiff
  colorMoved = default
[difftool]
  prompt = false
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  conflictstyle = diff3
[alias]
  d = "diff --staged"
  edit = "!nvim -p $(git ls-files -o -m --exclude-standard && git show --relative --name-only --pretty="format:" ${commit} | grep -v '^$')"
  last = "log -1 HEAD --stat"
  ll = "log --oneline"
  sb = "!checkout_fzf() { git branch | fzf | xargs git checkout; }; checkout_fzf"
  st = "status --short --branch"
{{- if lookPath "difft" }}
  difft = "-c diff.external=difft diff"
{{ end }}
[commit]
  verbose = true
[include]
  path = conf.d/local
{{- if lookPath "delta" }}
  path = catppuccin
[delta]
  features = catppuccin-mocha
  side-by-side = true
  hyperlinks = true
{{ end }}
{{- if lookPath "mergiraf" }}
[merge "mergiraf"]
  name = mergiraf
  driver = "mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L"
{{ end -}}
