"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[templates]
git_push_bookmark = '"bede/" ++ change_id.short()'

[remotes.origin]
auto-track-bookmarks = "main & master & trunk & glob:bede/*"

[signing]
behavior = "drop"
backend = "ssh"
{{- if stat (joinPath .chezmoi.homeDir ".ssh/id_ed25519_sk.pub") }}
key = "~/.ssh/id_ed25519_sk.pub"
{{ else }}
key = "~/.ssh/id_ed25519.pub"
{{ end -}}
backends.ssh.allowed-signers = "~/.config/git/allowed_signers"

[git]
sign-on-push = true
