local wezterm = require("wezterm")
local mux = wezterm.mux
local M = {}

function M.apply_to_config(config)
	wezterm.on("gui-startup", function()
		local window = mux.all_windows()[1]

		local tab_titles = {
			"tab1",
			"tab2",
			"tab3",
		}
		window:tabs()[1]:set_title(tab_titles[1])

		for i = 2, #tab_titles do
			local new_tab = window:spawn_tab({})
			new_tab:set_title(tab_titles[i])
		end

		-- Default empty window
		window:spawn_tab({})
	end)
end

return M
