"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Bede Carroll"
email = {{ .github_email | quote }}
{{ if lookPath "watchman" }}
[fsmonitor]
backend = "watchman"
watchman.register-snapshot-trigger = true
{{ end }}
[ui]
default-command = ["log"]
{{- if lookPath "difft" }}
diff-formatter = ["difft", "--color=always", "$left", "$right"]
{{ end -}}
# Following settings from:
# https://zerowidth.com/2025/jj-tips-and-tricks/
[revset-aliases]
'closest_bookmark(to)' = 'heads(::to & bookmarks())'
# set all remote bookmarks (commits pushed to remote branches) to be immutable
'immutable_heads()' = "builtin_immutable_heads() | remote_bookmarks()"
'unmerged_mine()' = 'mine() ~ ::trunk() ~ empty()'
# tail + tip of a set
'ends(x)' = 'roots(x) | heads(x)'
# any commit in the set that carries a local bookmark
'with_bookmarks(x)' = 'x & bookmarks()'
# final set used by `open`
'open_set()' = 'ends(unmerged_mine()) | with_bookmarks(unmerged_mine())'

[git]
write-change-id-header = true

[templates]
log = "builtin_log_compact ++ if(!description && !empty, diff.summary())"

[template-aliases]
"format_short_change_id(id)" = "id.shortest()"

[aliases]
alias = ["config", "list", "aliases"]
c = ["commit"]
ci = ["commit", "--interactive"]
e = ["edit"]
# fp = force push
fp = ["util", "exec", "--", "bash", "-c", """
set -euo pipefail
jj bookmark move -t 'git_head()' -f 'trunk()'
jj git push
""", ""]
i = ["git", "init", "--colocate"]
l = ["log", "-n", "20", "all()"]
nt = ["new", "trunk()"]
open = ["log", "-r", "open_set()"]
pull = ["git", "fetch"]
# pr = pull/rebase
pr = ["util", "exec", "--", "bash", "-c", """
set -euo pipefail
jj git fetch
jj rebase -d 'trunk()'
""", ""]
push = ["git", "push", "-r", "@-"]
push-new = ["git", "push", "--change", "@-"]
resolvem = ["resolve", "--tool", "mergiraf"]
r = ["rebase"]
si = ["squash", "--interactive"]
s = ["squash"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
# tup = tug/up
tup = ["util", "exec", "--", "bash", "-c", """
set -euo pipefail
jj tug
jj up
""", ""]
up = ["git", "push", "-r", "@-"]

[[--scope]]
--when.commands = ["status", "log"]
[--scope.ui]
paginate = "never"
